
{{#each posts as |post| }}
    <div class="row">
        <div class="title-only-card">
            <div class="title-only-card-header display-flex justify-space-between">
                <span>
                    <a href="/update/{{post.id}}">{{post.title}}</a>
                </span>
                <span>{{format_date post.date_created}}</span>
            </div>
        </div>  
    </div>
{{/each}}

<div class="row justify-center">
    <a href="/new" class="new-post">+ New Post</a>
</div>
