:root{
    --main-color:#DBEAD2;
    --accent-color: black;
    --secondary-color: #A7A7A7;
}


body{
    background-color: var(--main-color);
}

.header_a{
    background-color: var(--accent-color);
    min-height: 100px;
    padding: 25px 0 25px 45px;
}

.header_a nav{
    margin-bottom: 20px;
}

.header_a nav a{
    color: var(--main-color);
    font-size: 20px;
    margin-right: 50px;
}

.header_a h1{
    background-color: var(--main-color);
    padding: 5px;
    max-width: 270px;
    border-radius: 7px;
    box-shadow: 5px 5px var(--secondary-color);
}

.header_a h1 a{
    color: var(--accent-color);
    margin-left: 15px;
}

.custom-card-header{
    background-color: var(--accent-color);
    padding: 0 20px;
}

.custom-card-body{
    padding: 20px 20px 0px 20px;
    color: var(--accent-color)
}
.custom-card-header h2 a{
    color: var(--secondary-color);
    font-size: 20px;
    text-decoration: none;
}

.custom-card-header h2 a:hover{
    color: #c7c7c7;
}

.custom-card-header span{
    color: var(--secondary-color);
    font-size: 10px;
    padding-top: 20px;
}