:root{
    --main-color:#DBEAD2;
    --accent-color: black;
    --secondary-color: #A7A7A7;
    --btn-color: #666;
    --btn-highlight: #777;
    --border-color: #7CACE2;
}

body{
    background-color: var(--main-color);
}

.header_a{
    background-color: var(--accent-color);
    min-height: 100px;
    padding: 25px 0 25px 45px;
}

.header_a nav{
    margin-bottom: 20px;
}

.header_a nav a{
    color: var(--main-color);
    font-size: 20px;
    margin-right: 50px;
}

.header_a h1{
    background-color: var(--main-color);
    padding: 5px;
    max-width: 270px;
    border-radius: 7px;
    box-shadow: 5px 5px var(--secondary-color);
}

.header_a h1 a{
    color: var(--accent-color);
    margin-left: 15px;
}

.custom-card{
    width: 100%;
    border: 4px solid var(--accent-color);
}

.custom-card-header{
    background-color: var(--accent-color);
    padding: 0 20px;
    align-items: center;
}

.custom-card-body{
    padding: 20px 20px 0px 20px;
    color: var(--accent-color)
}

a{
    color: inherit;
}

.custom-card-header h2{
    color: var(--main-color);
    font-size: 20px;
    text-decoration: none;
    min-height: 40px;
}

.custom-card-header h2 a:hover{
    color: #c7c7c7;
}

.custom-card-header span{
    color: var(--secondary-color);
    font-size: 10px;
}

.signup-link{
    margin: 10px 0px 20px 0px;
}

.custom-btn-primary{
    background-color: var(--btn-color);
    color: lightgray;
    width: 100%;
}

.custom-btn-primary:hover{
    background-color: var(--btn-highlight);
}

.custom-form-control{
    min-height: 100px;
    width: 100%;
    border-color: var(--border-color);
    resize:vertical;
}

.fixed-form-control{
    resize: none;
}

.custom-form-control:focus{
    border-width: 5px;
}

.new-post{
    background-color: var(--accent-color);
    color: white;
    font-size: 30px;
    border-radius: 8px;
    padding: 15px 30px;
    margin-top: 10px;
}

.new-post:hover{
    text-decoration: none;
    color: white;
    cursor: pointer;
}